.idea
models/__pycache__/
models/FastGCN/script/__pycache__/
models/GAT/script/__pycache__/
models/GCN/script/__pycache__/
models/GRAND/script/__pycache__/
models/GraphSAGE/script/__pycache__/
models/FastGCN/script/__pycache__/
.DS_Store
Graph_Model/.DS_Store
data/.DS_Store
data/TWOSIDES/
models/.DS_Store
src/utils/__pycache__/
src/*.txt
MDF-SA-DDI/
src/models/GCN/__pycache__/
src/models/GCN/script/__pycache__/
src/models/GraphSAGE/__pycache__/
src/models/GraphSAGE/script/__pycache__/
